

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #c82828bb;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.search{
    height: 40px;
    width: 30%;
    display: flex;
}


.search .text{
    background-color: #fff;
    height: 100%;
    width: 85%;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    color: #00000078;
    padding: 10px;
}


.search .icon{
    background-color: #5fc60b;
    height: 100%;
    width: 15%;
    
}

